html {
    font-size: 100%;
}
@media screen and (max-width: 800px) {
#padthai-image {
max-width: 300px;
max-height: auto;
    }
html {
font-size: 150%;
    }
section {
    box-shadow: none;
    }
}
body {
    font-family: 'Zilla Slab', serif;
    font-size: 1.0rem;
    background-color: #D8BFD8;
}
@media screen and (orientation: portrait) {
    body {
         background-color: white;
    }
}
    h1, h3 {
	font-family: 'Special Elite', sans-serif;
    font-size: 1.5rem;
    color: #4B0082;
}
    section {
    margin: 2rem;
    padding: 1rem;
    border: solid 2px #191970;
    border-radius: 10px;
    background-color: #AFEEEE;
    box-shadow: 4px 4px 4px 4px rgb(199,21,133);
}
    #author {
    color: rgb(112,128,144);
    font-style: italic;
}
    #padthai-image {
        border-width: 5px;
        border-style: solid;
        border-color: #4B0082;
    }